
.header {
	position: fixed;
	background: none;
	width: 100%;
	top: 0px;
	margin: 0px;
	left: 0px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 21px;
	letter-spacing: 0.2px;
	word-spacing: 2px;
	color: white;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.header img {
	width: 132px;
	height: 28px;
}

.navigation a {
	text-decoration: none;
	text-decoration-color: white;
	color: white;
	padding: 30px;
	display: block;	
}

.navigation {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: stretch;
}

.navigation li {
	background-color: none;
	border: none;
	padding: 0 10px;
}

.navigation a:hover {
	text-decoration: underline
}

ul.navigation {
	padding: 0;
	margin: 0;
}